import /tee.rc
import /trustonic.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw

    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    symlink /vendor/lib64/hw/libSoftGatekeeper.so /vendor/lib64/hw/gatekeeper.default.so
    symlink /vendor/lib64/hw/libMcGatekeeper.so /vendor/lib64/hw/gatekeeper.${ro.hardware}.so
    symlink /vendor/lib64/hw/libMcGatekeeper.so /vendor/lib64/hw/gatekeeper.k6853v1_64_6360.so
    start boot-hal-1-2

on fs
    install_keyring

    write /sys/class/power_supply/usb/otg_switch 1
    write /sys/class/oplus_chg/usb/otg_switch 1

on post-fs

service vendor.vendor.keymaster-4-1-trustonic-trustonic /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start mobicore
    start vendor.keymaster-4-1-trustonic
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop vendor.keymaster-4-1-trustonic
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop vendor.keymaster-4-1-trustonic
    stop vendor.gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop mobicore
    stop vendor.keymaster-4-1-trustonic
    stop vendor.gatekeeper-1-0

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    mkdir /data/vendor_de/0/cryptoeng 0770 system system

on boot
    start health-hal-2-1